<div class="rootGrid">
    <div class="toolBar">
        <span>{{languageService.translateAsync('GAME') | async}}:</span>
        <select style="margin-right: 20px" [(ngModel)]="globalsService.selectedGame">
            <option *ngFor="let game of globalsService.availableGames" [ngValue]="game">{{game.title}}</option>
        </select>

        <span>{{languageService.translateAsync('LANGUAGE') | async}}:</span>
        <select style="margin-right: 20px" [(ngModel)]="globalsService.selectedLanguage">
            <option *ngFor="let language of languageService.availableLanguages" [value]="language">{{language}}</option>
        </select>

        <span>{{languageService.translateAsync('FILTER') | async}}:</span>
        <input style="margin-right: 20px; width: 120px;" autofocus type="text" [(ngModel)]="globalsService.searchFilter"/>

        <span *ngIf="globalsService.isMonsterTypeFilteringAvailable">{{languageService.translateAsync('MONSTER_TYPE') | async}}:</span>
        <ng-select
            *ngIf="globalsService.isMonsterTypeFilteringAvailable"
            style="margin-right: 20px; display: inline-block; width: 300px;"
            [items]="globalsService.availableMonsterTypes"
            [closeOnSelect]="false"
            multiple="true"
            bindValue="type"
            bindLabel="display"
            [(ngModel)]="globalsService.selectedMonsterTypes">
        </ng-select>

        <span>{{languageService.translateAsync('FILTER_MODE') | async}}:</span>
        <select style="margin-right: 20px" [(ngModel)]="globalsService.filterMode">
            <option *ngFor="let filterMode of globalsService.availableFilterModes" [value]="filterMode">{{languageService.translateAsync(filterMode) | async}}</option>
        </select>

        <input id="filterAllLanguages" type="checkbox" [(ngModel)]="globalsService.isFilterAllLanguages"/>
        <label style="margin-right: 20px" for="filterAllLanguages">{{languageService.translateAsync('FILTER_ALL_LANGUAGES') | async}}</label>

        <br/>

        <span style="font-size: 0.75em">{{languageService.translateAsync('FILTER_INFO') | async}}</span>
        <br/>
        <br/>
    </div>

    <div class="monstersPanel">
        <app-monster-info></app-monster-info>
    </div>

    <span class="version">
        <a style="vertical-align: top; margin-right: 10px; display: inline-block;" href="https://github.com/TanukiSharp/mh-monster-info" target="_blank">info</a>
        <pre style="display: inline-block; margin: 0">{{versionInfo}}</pre>
    </span>

</div>
