<div class="rootPanel" [hidden]="globalsService.isHidden(monsterInfoViewModel.isVisible)" [ngClass]="{'shaded': globalsService.isShaded(monsterInfoViewModel.isVisible)}">
    <div class="monsterGrid">
        <div class="monsterAttack">
            <span style="font-size: 0.65em;">{{languageService.translate('ATTACK')}}</span>
            <div class="monsterWeakDetails">
                <div style="grid-column: 1">
                    <div *ngFor="let attribute of monsterInfoViewModel.monsterInfo.attacks">
                        <app-attribute [showValues]="false" [attribute]="attribute"></app-attribute>
                    </div>
                </div>
            </div>
        </div>

        <span class="monsterName"><b>{{languageService.getName(monsterInfoViewModel.monsterInfo.names)}}</b></span>
        <img class="monsterIcon" src="./assets/images/monsters/{{globalsService.selectedGame.fileNamePart}}/{{monsterInfoViewModel.monsterInfo.iconNumber}}.png" width="120" height="120"/>

        <div class="monsterWeak">
            <span style="font-size: 0.65em;">{{languageService.translate('WEAKNESS')}}</span>
            <div class="monsterWeakDetails">
                <div style="grid-column: 1">
                    <div *ngFor="let attribute of filterElemental(monsterInfoViewModel.monsterInfo.weaks)">
                        <app-attribute [attribute]="attribute"></app-attribute>
                    </div>
                </div>
                <div style="grid-column: 2">
                    <div *ngFor="let attribute of filterNonElemental(monsterInfoViewModel.monsterInfo.weaks)">
                        <app-attribute [attribute]="attribute"></app-attribute>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
